@charset "iso-8859-1";
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans&display=swap');

@import "_css/variables";
@import "_css/typography";


/******************************************************************************/
/******************************* Navigation***********************/
/******************************************************************************/

body {
    padding-top: 10px;
    overflow-y: scroll;
    background-color: $siteBackgroundColor !important;
    background-color: red($color: #000000);
    animation: fadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


img {
    max-width: 100%;
    height: auto;
    border-style: none;
    /* border-bottom-width: 1px;
    border-bottom-color: rgb(235,235,235);
    border-bottom-style: solid;*/
}

.card-img {
    max-width: $indexGaleryBlockSize;
    max-height: $indexGaleryBlockSize;
    height: auto;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-left: 8px;
}

/*Effet de transparence sur hover*/
/* 
a {

    :hover {
        opacity: 0.8;
        transition: opacity 0.3s ease;
    }

    img {
        opacity: 1;
    }

}
 */





/******************************************************************************/
/******************************* Bootstrap container/
/******************************************************************************/

.container {
    width: 900px !important;
}

.thumbnail {
    width: 750px !important;
}


/*Container d'une dimension fixe*/
@media (min-width: 200px) {
    .container {
        width: 200px !important;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}

@media (min-width: 320px) {
    .container {
        width: 280px !important;
    }

}


@media (min-width: 575px) {
    .container {
        width: 280px !important;
    }

}

@media (min-width: 768px) {
    .container {
        width: 768px !important;
    }

    .mobile-only {
        display: block;
    }
}

@media (min-width: 992px) {
    .container {
        width: $mainContainerWidth !important;
    }
}

@media (min-width: $mainContainerWidth) {
    .container {
        width: $mainContainerWidth !important;
    }
}



/******************************************************************************/
/******************************* Wordpress Gallery Blocks/
/******************************************************************************/


// Affichage des captions de galerie en mode mobile seulement:
.wp-block-gallery .blocks-gallery-item figure {
    @media only screen and (max-width: 640px) {

        flex-direction: column !important;
    }
}

// Affichage des captions de galerie en mode mobile seulement:
.wp-block-gallery .blocks-gallery-item figcaption {
    @media only screen and (max-width: 640px) {
        position: relative !important;
        bottom: auto !important;
        max-height: 100% !important;
        overflow: auto !important;
        padding: 10px 0 20px 0 !important;
        color: #333 !important;
        text-align: center !important;
        font-size: 13px !important;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0%, transparent) !important;
    }

}


/*Blocs Wordpress Gallery
 Qui deviennent responsifs sur mobile seulement
*/
.wp-block-image {
    @media only screen and (max-width: 640px) {

        width: 270px !important;
    }

}

li.blocks-gallery-item {

    @media only screen and (max-width: 640px) {
        figure {
            width: 270px !important;
        }

        padding-right: 2px;
        float: left;
        width: 270px !important;
        margin: 0px;

    }
}

/*Sur écrans d'ordinateurs on cache le caption entièrement 
On utilise plutôt l'encart description dans l'image et affiche dans le carousel jetpack*/
figcaption.blocks-gallery-item__caption {
    @media only screen and (min-width: 640px) {
        display: none;
    }
}







/******************************************************************************/
/******************************* WP-Jetpack Carousel/
/******************************************************************************/



.jp-carousel-info {
    p {
        text-align: center !important;
        font-family: $mainFont !important;
        font-size: 17px !important;
    }
}

/*

/* Hide Comment Form & Link */
#jp-carousel-comment-form-container,
/* Form */
div.jp-carousel-buttons a.jp-carousel-commentlink,
/* Link */
#jp-carousel-comments-loading {
    display: none !important;
}

/* Remove Padding from Link Area */
.jp-carousel-buttons {
    padding: 0 !important;
}



/* Hide comment form header. */
/* Center the metabox. */
.jp-carousel-titleanddesc-title,
.jp-carousel-comment-form-container,
div#jp-carousel-comments-loading span,
.jp-carousel-image-meta {
    display: none !important;
}

.jp-carousel-titleanddesc {
    border: none !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    width: 100% !important;
}

.jp-carousel-left-column-wrapper {
    width: 100% !important;
}


/* Move close icon to the right. */
.jp-carousel-transitions .jp-carousel-close-hint {
    position: fixed;
    text-align: right;
    right: 12px;
    width: auto;
}