@charset "iso-8859-1";
/* @import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');


@import "_css/variables";
@import "_css/text-styles";
@import "_css/typography-gutenberg";



/* Css Document */
/******************************************************************************/
/******************************* Mise en page    ******************************/
/******************************************************************************/


/******************************************************************************/
/******************************* Typographie  -- Titres
/******************************************************************************/

.editor-post-title__input {
  /*font-family: "'Times New Roman', Times, serif'";*/
  font-family: $mainFont !important;
  color: $colorBlack;
  font-size: 20px;
  line-height: 39px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}


//Affichage des blocks d'images de galeries wordpress
@mixin desktopBlockSize {
  width: $wpBlockGalleryWidth !important;
  height: $wpBlockGalleryHeight !important;
}

@mixin mobileBlockSize {
  width: $wpBlockGallerySizeMobile !important;
  height: $wpBlockGallerySizeMobile !important;
  flex-direction: column !important;
}

.blocks-gallery-item {
  @include desktopBlockSize;
  box-sizing: content-box !important;
  padding-right: 10px !important;
  flex-grow: 0 !important;

  figure,
  img {
    @include desktopBlockSize;

    @media (max-width: 640px) {
      @include mobileBlockSize;
    }
  }

  @media (max-width: 640px) {
    @include mobileBlockSize;
  }

}


/******************************************************************************/
/******************************* Typographie  -- Texte
/******************************************************************************/



/******************************************************************************/
/******************************* Typographie  -- Liens
/******************************************************************************/



/******************************************************************************/
/******************************* WP-Jetpack Carousel/
/******************************************************************************/