@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Slabo&display=swap");
/******************************************************************************/
/******************************* Variables Sass    ******************************/
/******************************************************************************/
/******************************************************************************/
/******************************* Body elements   ******************************/
/******************************************************************************/
/*Body Elements*/
/******************************************************************************/
/******************************* Animations   ******************************/
/******************************************************************************/
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Animations*/
/******************************************************************************/
/***Titles 
/******************************************************************************/
h1 {
  font-family: "PT Sans" !important;
  font-size: 25px !important;
  color: #C6C6C6 !important;
  margin-top: 15px;
}

h2,
h3,
h3 a {
  font-family: "PT Sans" !important;
  font-size: 20px !important;
  color: #D54E21 !important;
  font-weight: normal;
}

.sous-titre-principal {
  font-size: 12px !important;
  color: #999 !important;
  color: #C6C6C6;
  font-weight: bold;
  text-align: left;
}

h3,
h3 {
  color: #C6C6C6 !important;
  margin-top: 100px;
  margin-bottom: 15px;
}

h4 {
  font-size: 14px !important;
  color: #999 !important;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  margin: 25px 0px 10px 0px;
  display: block;
}

/******************************************************************************/
/******************************* Main text elements************************/
/******************************************************************************/
p,
ol,
ul {
  font-size: 14px !important;
  color: #999 !important;
  text-align: left;
  font-weight: 400;
}

ul {
  padding-left: 0px;
}

ul li {
  list-style-type: none;
}

a {
  font-size: 14px !important;
  color: #999 !important;
  text-decoration: underline;
}

a:hover {
  color: #505050 !important;
  text-decoration: none;
  -webkit-animation: fadeInAnimation ease 0.3s;
          animation: fadeInAnimation ease 0.3s;
}

blockquote {
  color: #999 !important;
  max-width: 600px !important;
}

blockquote p {
  font-size: 14px !important;
  color: #999 !important;
  font-style: italic;
  text-align: left;
  font-weight: 400;
  width: 100%;
}

figcaption {
  font-size: 12px !important;
  color: #999 !important;
}

.p-caption {
  font-size: 12px !important;
  color: #999 !important;
}

/******************************************************************************/
/******************************* Autres éléments typographie     **************/
/******************************************************************************/
hr {
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #3f3f3f;
}

/* Css Document */
/******************************************************************************/
/******************************* Mise en page    ******************************/
/******************************************************************************/
/******************************************************************************/
/******************************* Typographie  -- Titres
/******************************************************************************/
.editor-post-title__input {
  /*font-family: "'Times New Roman', Times, serif'";*/
  font-family: "'Helvetica Neue',Arial,Helvetica,sans-serif" !important;
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  line-height: 39px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

/******************************************************************************/
/******************************* Typographie  -- Texte
/******************************************************************************/
/******************************************************************************/
/******************************* Typographie  -- Liens
/******************************************************************************/
/******************************************************************************/
/******************************* WP-Jetpack Carousel/
/******************************************************************************/
/*# sourceMappingURL=style-editor.css.map */