@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans&display=swap");
/******************************************************************************/
/******************************* Variables Sass    ******************************/
/******************************************************************************/
/******************************************************************************/
/******************************* TextStyles mixin******************************/
/******************************************************************************/
/******************************************************************************/
/******************************* TextStyles mixin******************************/
/******************************************************************************/
/******************************************************************************/
/******************************* Body elements   ******************************/
/******************************************************************************/
/*Body Elements*/
/******************************************************************************/
/******************************* Animations   ******************************/
/******************************************************************************/
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Animations*/
/******************************************************************************/
/***Titles 
/******************************************************************************/
h1 {
  font-family: "PT Sans" !important;
  font-size: 25px !important;
  color: #C6C6C6 !important;
  margin-top: 15px;
}

h2,
h3,
h3 a {
  font-family: "PT Sans" !important;
  font-size: 20px !important;
  color: #D54E21 !important;
}

.sous-titre-principal {
  font-family: "" !important;
  font-size: 12px !important;
  color: #999 !important;
  color: #C6C6C6;
  font-weight: bold;
  text-align: left;
}

h3 {
  font-family: "PT Sans" !important;
  font-size: 20px !important;
  color: #D54E21 !important;
  color: #C6C6C6 !important;
  margin-top: 100px;
  margin-bottom: 15px;
}

h4 {
  font-family: "" !important;
  font-size: 14px !important;
  color: #999 !important;
  text-align: left;
  font-weight: 400;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  margin: 25px 0px 10px 0px;
}

/******************************************************************************/
/******************************* Main text elements************************/
/******************************************************************************/
p,
ol,
ul,
a {
  font-family: "" !important;
  font-size: 14px !important;
  color: #999 !important;
  text-align: left;
  font-weight: 400;
}

ul {
  padding-left: 0px;
}

ul li {
  list-style-type: none;
}

a {
  font-family: "" !important;
  font-size: 14px !important;
  color: #999 !important;
  text-align: left;
  font-weight: 400;
  text-decoration: underline;
}

a:hover {
  color: #505050 !important;
  text-decoration: none;
  -webkit-animation: fadeInAnimation ease 0.3s;
          animation: fadeInAnimation ease 0.3s;
}

blockquote {
  color: #999 !important;
  max-width: 600px !important;
}

blockquote p {
  font-family: "" !important;
  font-size: 14px !important;
  color: #999 !important;
  text-align: left;
  font-weight: 400;
  font-style: italic;
  width: 100%;
}

figcaption {
  font-family: "" !important;
  font-size: 12px !important;
  color: #999 !important;
}

.p-caption {
  font-family: "" !important;
  font-size: 12px !important;
  color: #999 !important;
}

/******************************************************************************/
/******************************* Autres éléments typographie     **************/
/******************************************************************************/
hr {
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #3f3f3f;
}

/******************************************************************************/
/******************************* Misc Wordpress
/******************************************************************************/
/*Lien de téléchargement pour bloc fichier wordpress*/
.wp-block-file__button {
  display: none;
}

/******************************************************************************/
/******************************* Wordpress Gallery Blocks/
/******************************************************************************/
.blocks-gallery-item {
  width: 425px !important;
  height: 300px !important;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  padding-right: 10px !important;
  -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
          flex-grow: 0 !important;
}

.blocks-gallery-item figure,
.blocks-gallery-item img {
  width: 425px !important;
  height: 300px !important;
}

@media (max-width: 640px) {
  .blocks-gallery-item figure,
  .blocks-gallery-item img {
    width: 200px !important;
    height: 200px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media (max-width: 640px) {
  .blocks-gallery-item {
    width: 200px !important;
    height: 200px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media only screen and (max-width: 640px) {
  .wp-block-gallery .blocks-gallery-item figcaption {
    position: relative !important;
    bottom: auto !important;
    max-height: 100% !important;
    overflow: auto !important;
    padding: 10px 0 20px 0 !important;
    color: #333 !important;
    text-align: center !important;
    font-size: 13px !important;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), to(transparent)) !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0%, transparent) !important;
  }
}

/*Sur écrans d'ordinateurs on cache le caption entièrement 
On utilise plutôt l'encart description dans l'image et affiche dans le carousel jetpack*/
@media only screen and (min-width: 640px) {
  figcaption.blocks-gallery-item__caption {
    display: none;
  }
}

/******************************************************************************/
/******************************* Wordpress embed Blocks/
/******************************************************************************/
figure.wp-block-embed.is-type-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /*16:9*/
}

figure.wp-block-embed.is-type-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/******************************************************************************/
/******************************* WP-Jetpack Carousel/
/******************************************************************************/
.jp-carousel-info p {
  font-family: "" !important;
  font-size: 14px !important;
  color: #999 !important;
  text-align: left;
  font-weight: 400;
  text-align: center !important;
}

/*

/* Hide Comment Form & Link */
#jp-carousel-comment-form-container,
div.jp-carousel-buttons a.jp-carousel-commentlink,
#jp-carousel-comments-loading {
  display: none !important;
}

/* Remove Padding from Link Area */
.jp-carousel-buttons {
  padding: 0 !important;
}

/* Hide comment form header. */
/* Center the metabox. */
.jp-carousel-titleanddesc-title,
.jp-carousel-comment-form-container,
div#jp-carousel-comments-loading span,
.jp-carousel-image-meta {
  display: none !important;
}

.jp-carousel-titleanddesc {
  border: none !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
  width: 100% !important;
}

.jp-carousel-left-column-wrapper {
  width: 100% !important;
}

/* Move close icon to the right. */
.jp-carousel-transitions .jp-carousel-close-hint {
  position: fixed;
  text-align: right;
  right: 12px;
  width: auto;
}

/******************************************************************************/
/******************************* Navigation***********************/
/******************************************************************************/
body {
  padding-top: 10px;
  overflow-y: scroll;
  background-color: #303030 !important;
  -webkit-animation: fadeInAnimation ease 0.2s;
          animation: fadeInAnimation ease 0.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  /* border-bottom-width: 1px;
    border-bottom-color: rgb(235,235,235);
    border-bottom-style: solid;*/
}

/* .card-link {
    &:hover {
        opacity: 0.4;
        animation: fadeInAnimation ease 0.8s;
    }
} */
.card-img {
  max-width: 145px;
  max-height: 145px;
  height: auto;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-left: 8px;
}

.card-img:hover {
  opacity: 0.4;
  -webkit-animation: fadeAnimation ease 0.8s;
          animation: fadeAnimation ease 0.8s;
}

/*Effet de transparence sur hover*/
/* 
a {

    :hover {
        opacity: 0.8;
        transition: opacity 0.3s ease;
    }

    img {
        opacity: 1;
    }

}
 */
/******************************************************************************/
/******************************* Bootstrap container/
/******************************************************************************/
.container {
  width: 900px !important;
}

.thumbnail {
  width: 750px !important;
}

/*Container d'une dimension fixe*/
@media (min-width: 200px) {
  .container {
    width: 250px !important;
  }
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}

@media (min-width: 576px) {
  .container {
    width: 576px !important;
  }
}

/* @media (min-width: 575px) {
    .container {
        width: 280px !important;
    }

} */
@media (min-width: 768px) {
  .container {
    width: 768px !important;
  }
  .mobile-only {
    display: block;
  }
}

@media (min-width: 992px) {
  .container {
    width: 900px !important;
  }
}

@media (min-width: 900px) {
  .container {
    width: 900px !important;
  }
}

/******************************************************************************/
/******************************* Navbar Bootstrap
/******************************************************************************/
.navbar-brand {
  font-family: "PT Sans" !important;
  font-size: 25px !important;
  color: #C6C6C6 !important;
  padding-bottom: 0px !important;
  text-decoration: none !important;
}

.nav-link {
  font-family: "PT Sans" !important;
  font-size: 25px !important;
  color: #C6C6C6 !important;
  font-size: 16px !important;
  line-height: 38px !important;
  text-decoration: none !important;
  padding: 0px, 0px, 10px, 16px !important;
}

.nav-link:hover {
  color: #505050 !important;
  -webkit-animation: fadeInAnimation ease 0.3s;
          animation: fadeInAnimation ease 0.3s;
}

/*Navbar Bootstrap*/
.navbar {
  padding: 0px;
  background-color: #303030 !important;
}

.dropdown-menu {
  top: 45px;
  background-color: #303030 !important;
  -webkit-animation: fadeInAnimation ease 0.3s;
          animation: fadeInAnimation ease 0.3s;
}

.dropdown-menu a {
  font-family: "PT Sans" !important;
  font-size: 25px !important;
  color: #C6C6C6 !important;
  font-size: 16px !important;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 38px !important;
  text-decoration: none !important;
}

.dropdown-menu a:hover {
  background-color: #505050 !important;
  -webkit-animation: fadeInAnimation ease 0.3s;
          animation: fadeInAnimation ease 0.3s;
}

.navbar-toggler {
  margin-bottom: 8px;
}
/*# sourceMappingURL=style.css.map */