@charset "iso-8859-1";
/* @import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');


@import "_css/variables";
@import "_css/text-styles";


/******************************************************************************/
/***Titles 
/******************************************************************************/

/* Approximate the theme width, except for full-width images. */
.wp-block {
  max-width: 900px;

  &[data-align="wide"] {
      max-width: 900px;
  }

  &[data-align="full"] {
      max-width: none;
  }
}

body {
  padding-top: 10px;
  overflow-y: scroll;
  color: $mainColor !important;
  background-color: $siteBackgroundColor !important;
}




.editor-post-title__block .editor-post-title__input,
.editor-writing-flow .wp-block h2,
.editor-writing-flow .wp-block h3,
.editor-writing-flow .wp-block h3 a {
  @include styleSubTitle;
}

.editor-post-title__block {
  margin-bottom: 0px;
  padding-bottom: 0px;

  .editor-post-title__input {
      margin-bottom: 0px;
      padding-bottom: 0px;
  }
}



.editor-writing-flow .wp-block textarea,
.editor-writing-flow .wp-block .wp-block-freeform,
p.rich-text,
.wp-block-quote__citation,
.editor-block-list__layout .editor-block-list__block,
.editor-block-list__layout .editor-block-list__block p {

  @include styleMainText;
}

//Info displayed under page title 
.legende-sous-titre {
  @include sousTitrePrincipal;
}


.editor-writing-flow .wp-block h1 {
  @include styleH1;
}

//Ample top margin so H3 can be used to separate sections in text
h1 {
  @include styleH1;

}

h2 {
  @include styleH2;

}

h3 {
  @include styleH3;

}


h4 {
  @include styleH4;

}

h5 {
  @include styleH5;

}

/******************************************************************************/
/******************************* Main text elements************************/
/******************************************************************************/


.editor-writing-flow .wp-block ul {
  @include styleUl;
}

.editor-writing-flow .wp-block a {
  @include styleA;
}


//Blocs de citations
.wp-block blockquote {
  @include styleBlockquote;
}

//Captions under images
.wp-block figcaption {
  @include styleSmallText;
}

//To use inside gutenberg for caption-like text
.p-caption {
  @include styleSmallText;
}


/******************************************************************************/
/******************************* Autres éléments typographie     **************/
/******************************************************************************/

hr.wp-block-separator {
  @include styleHr;
  
}

/******************************************************************************/
/******************************* Typographie  -- Titres
/******************************************************************************/

.editor-post-title__input {
  /*font-family: "'Times New Roman', Times, serif'";*/
  font-family: $mainFont !important;
  color: $colorBlack;
  font-size: 20px;
  line-height: 39px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}


//Affichage des blocks d'images de galeries wordpress
@mixin desktopBlockSize {
  width: $wpBlockGalleryWidth !important;
  height: $wpBlockGalleryHeight !important;
}

@mixin mobileBlockSize {
  width: $wpBlockGallerySizeMobile !important;
  height: $wpBlockGallerySizeMobile !important;
  flex-direction: column !important;
}

.blocks-gallery-item {
  @include desktopBlockSize;
  box-sizing: content-box !important;
  padding-right: 10px !important;
  flex-grow: 0 !important;

  figure,
  img {
    @include desktopBlockSize;

    @media (max-width: 640px) {
      @include mobileBlockSize;
    }
  }

  @media (max-width: 640px) {
    @include mobileBlockSize;
  }

}


/******************************************************************************/
/******************************* Typographie  -- Texte
/******************************************************************************/



/******************************************************************************/
/******************************* Typographie  -- Liens
/******************************************************************************/



/******************************************************************************/
/******************************* WP-Jetpack Carousel/
/******************************************************************************/