@charset "iso-8859-1";
/* @import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@import "_css/variables";
@import "_css/text-styles";
@import "_css/animation";
@import "_css/wordpress";
@import "_css/bootstrap";


/******************************************************************************/
/******************************* Navigation***********************/
/******************************************************************************/


#css-overrides {
    padding-top: 30px;

    overflow-y: scroll;
    background-color: $siteBackgroundColor !important;

    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#css-overrides img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

//TODO commenter et retrouver usage
.card-img {
    max-width: $indexGaleryBlockSize;
    max-height: $indexGaleryBlockSize;
    height: auto;
    margin-right: 5px;
    padding-bottom: 5px;
    border-radius: 0px;
    opacity: 1;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.3;
        transition: opacity 0.3s ease;
    }

}




/******************************************************************************/
/***Titles 
/******************************************************************************/

#css-overrides h1 {
    @include styleH1;
}


#css-overrides h2 {
    @include styleH2;
}

h3 a {
    @include styleSubTitle;
}

//Info displayed under page title 
#css-overrides .legende-sous-titre {
    @include sousTitrePrincipal;
}

#css-overrides h3 {
    @include styleH3;
}


#css-overrides h4 {
    @include styleH4;
}

#css-overrides h5,
#css-overrides h6 {
    @include styleH5;
}

/******************************************************************************/
/******************************* Main text elements************************/
/******************************************************************************/
#css-overrides p,
#css-overrides ol {
    @include styleMainText;
}

#css-overrides ul {
    @include styleUl;
}

#css-overrides li {
    //margin-left: 10px !important;
}

#css-overrides a {
    @include styleA;
}


//Blocs de citations
#css-overrides blockquote {
    @include styleBlockquote;
}

//Captions under images
#css-overrides figcaption,
#css-overrides .cite {
    @include styleSmallText;
    text-align: right !important;

}

#css-overrides .cite-center {
    @include styleSmallText;
    text-align: center !important;
}

#css-overrides .blocks-gallery-caption,
#css-overrides .cite {
    text-align: right !important;
    width: 100% !important;
}


/******************************************************************************/
/******************************* Autres éléments typographie     **************/
/******************************************************************************/

#css-overrides hr {
    @include styleHr;
}

//TODO commenter et retrouver usage
#css-overrides .blog-post {
    margin-top: $mainTextMargin;
    margin-bottom: $interSectionMargin;
}



/******************************************************************************/
/******************************* Footer page     **************/
/******************************************************************************/

#css-overrides footer {
    background-color: $siteDarkAccentColor;
    min-height: 500px;
}

#css-overrides .related-post-banner {
    padding-bottom: 50px;
    opacity: 1;
    transition: opacity 0.3s ease;
    width: 50%;

    &:hover {
        opacity: 0.7;
        transition: opacity 0.3s ease;
    }
}