@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Raleway");
/******************************************************************************/
/******************************* Variables Sass    ******************************/
/******************************************************************************/
/******************************************************************************/
/******************************* Gallery blocks  ******************************/
/******************************************************************************/
/******************************************************************************/
/******************************* Media breakpoints*****************************/
/******************************************************************************/
/*****************************************************************************
text-styles.scss

Définition de styles de textes modulaires qui sont ensuites appliqués
à des mixins correspondants à h1, h2, p etc

But: réutilisation du code dans style.scss et style-editor.scss afin de styler
à la fois l'éditeur gutenberg et le thème
/******************************************************************************/
/******************************************************************************/
/******************************* styles modulaires
/******************************************************************************/
/******************************************************************************/
/************ Style spécifiques pour réutilisation dans gutenberg
/******************************************************************************/
/******************************************************************************/
/************ Styles de titres
/******************************************************************************/
/******************************************************************************/
/************ Style de textes
/*****************************************************************************/
/******************************************************************************/
/******************************* Animations   ******************************/
/******************************************************************************/
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/******************************************************************************/
/***Titles 
/******************************************************************************/
/* Approximate the theme width, except for full-width images. */
.wp-block {
  max-width: 900px;
}

.wp-block[data-align="wide"] {
  max-width: 900px;
}

.wp-block[data-align="full"] {
  max-width: none;
}

body {
  padding-top: 10px;
  overflow-y: scroll;
  color: #a0a0a0 !important;
  background-color: #303030 !important;
}

.editor-post-title__block .editor-post-title__input,
.editor-writing-flow .wp-block h2,
.editor-writing-flow .wp-block h3,
.editor-writing-flow .wp-block h3 a {
  font-family: "Roboto";
  font-size: 19px;
  color: #ec5725;
  font-weight: normal;
}

.editor-post-title__block {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.editor-post-title__block .editor-post-title__input {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.editor-writing-flow .wp-block textarea,
.editor-writing-flow .wp-block .wp-block-freeform,
p.rich-text,
.wp-block-quote__citation,
.editor-block-list__layout .editor-block-list__block,
.editor-block-list__layout .editor-block-list__block p {
  font-size: 15px;
  color: #a0a0a0;
  font-weight: normal;
}

.legende-sous-titre {
  font-size: 13px;
  color: #a0a0a0;
  font-weight: normal;
  text-align: left;
}

.editor-writing-flow .wp-block h1 {
  font-family: "Roboto";
  font-size: 19px;
  color: #ec5725;
  font-weight: normal;
}

h1 {
  font-family: "Roboto";
  font-size: 19px;
  color: #ec5725;
  font-weight: normal;
}

h2 {
  font-family: "Roboto";
  font-size: 19px;
  color: #ec5725;
  font-weight: normal;
}

h3 {
  font-family: "Roboto";
  font-size: 19px;
  color: #ec5725;
  font-weight: normal;
  color: #d1d1d1;
  margin-top: 100px;
  margin-bottom: 15px;
}

h4 {
  font-size: 15px;
  color: #a0a0a0;
  font-weight: normal;
  font-weight: bold;
  margin: 10px 0px;
}

h5 {
  font-size: 15px;
  color: #a0a0a0;
  font-weight: normal;
  color: #d1d1d1;
  margin: 10px 0px;
}

/******************************************************************************/
/******************************* Main text elements************************/
/******************************************************************************/
.editor-writing-flow .wp-block ul {
  padding-left: 0px;
}

.editor-writing-flow .wp-block ul li {
  font-size: 15px;
  color: #a0a0a0;
  font-weight: normal;
  list-style-type: none;
}

.editor-writing-flow .wp-block a {
  font-size: 15px;
  color: #a0a0a0;
  font-weight: normal;
  text-decoration: none;
  color: #a0a0a0;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.editor-writing-flow .wp-block a:hover {
  color: #eeeeee;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.wp-block blockquote {
  display: table;
  color: #a0a0a0;
  width: auto;
  max-width: calc( 900px / 2);
  border-left: 1px solid #a0a0a0;
  padding-left: 10px;
}

.wp-block blockquote p {
  font-size: 16px;
  color: #d1d1d1;
  font-weight: normal;
  padding-left: 10px;
  font-style: italic;
  width: 100%;
  text-align: left;
}

.wp-block blockquote cite,
.wp-block blockquote cite a {
  font-size: 16px;
  color: #d1d1d1;
  font-weight: normal;
  padding-left: 10px;
  font-style: normal;
  text-align: left;
  text-decoration: none;
}

.wp-block figcaption {
  font-size: 13px;
  color: #a0a0a0;
  font-weight: normal;
  text-align: left;
}

.p-caption {
  font-size: 13px;
  color: #a0a0a0;
  font-weight: normal;
  text-align: left;
}

/******************************************************************************/
/******************************* Autres éléments typographie     **************/
/******************************************************************************/
hr.wp-block-separator {
  width: 100%;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #a0a0a0;
}

/******************************************************************************/
/******************************* Typographie  -- Titres
/******************************************************************************/
.editor-post-title__input {
  /*font-family: "'Times New Roman', Times, serif'";*/
  font-family: "" !important;
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  line-height: 39px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.blocks-gallery-item {
  width: 425px !important;
  height: 300px !important;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  padding-right: 10px !important;
  -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
          flex-grow: 0 !important;
}

.blocks-gallery-item figure,
.blocks-gallery-item img {
  width: 425px !important;
  height: 300px !important;
}

@media (max-width: 640px) {
  .blocks-gallery-item figure,
  .blocks-gallery-item img {
    width: 95% !important;
    height: 95% !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media (max-width: 640px) {
  .blocks-gallery-item {
    width: 95% !important;
    height: 95% !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

/******************************************************************************/
/******************************* Typographie  -- Texte
/******************************************************************************/
/******************************************************************************/
/******************************* Typographie  -- Liens
/******************************************************************************/
/******************************************************************************/
/******************************* WP-Jetpack Carousel/
/******************************************************************************/
/*# sourceMappingURL=style-editor.css.map */