/*****************************************************************************
animations.scss

Helpers gestion des animations CSS
/******************************************************************************/


//variables
$shortSpeed : 0.3s;


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@mixin quickFadeInAnimation {
    animation: fadeInAnimation ease-in-out $shortSpeed ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


//Formule générique pour animer une transition sur propriété donnée
@mixin animateTransition($property, $src, $dest) {
    #{$property}: $dest;
    transition: #{$property} $shortSpeed ease-in-out;

    &:hover {
        #{$property}: $src;
        transition: #{$property} $shortSpeed ease-in-out;
    }
}

//Raccourci pour uniformiser les fade-in fade-out d'éléments à travers le site
@mixin opacityFadeOnHover($opacity) {
   @include animateTransition(opacity, $opacity, 1);
}

//Uniformisation des changements de couleur sur Hover
@mixin colorChangeOnHover($src, $dest) {
    @include animateTransition(color, $dest, $src);  //src et dest inversés pour respecter logique de animateTransition
 }