/*****************************************************************************
text-styles.scss

Définition de styles de textes génériques qui sont ensuites appliqués
à des mixins correspondants à h1, h2, p etc

But: réutilisation du code dans style.scss et style-editor.scss afin de styler
à la fois l'éditeur gutenberg et le thème
/******************************************************************************/



/******************************************************************************/
/******************************* styles génériques
/******************************************************************************/
@mixin styleTitle {
    font-family: $mainTitleFont;
    font-size: $mainTitleSize;
    color: $mainTitleColor;
}

@mixin styleSubTitle {
    font-family: $mainSubTitleFont;
    font-size: $mainSubTitleSize;
    color: $mainSubTitleColor;

    margin-bottom: $smallTextMargin;
    font-weight: normal;
}

@mixin styleMainText {
    font-size: $mainTextSize;
    color: $mainColor;
    font-weight: normal;
}

@mixin styleSmallText {
    font-size: $smallTextSize;
    color: $mainColor;
    font-weight: normal;
    text-align: left;
}

@mixin styleEmphasisText {
    font-size: $emphasisTextSize;
    color: $mainTitleColor;
    font-weight: normal;
}

/******************************************************************************/
/************ Style spécifiques pour réutilisation dans gutenberg
/******************************************************************************/

//Main page title
@mixin styleH1 {
    @include styleSubTitle;
    margin-top: -10px;
}

@mixin styleH2 {
    @include styleSubTitle;
}

//Info displayed under page title 
@mixin sousTitrePrincipal {
    @include styleSmallText;
}

//Main subtitle in gray
//Ample top margin so H3 can be used to separate sections in text
@mixin styleH3 {
    @include styleSubTitle;
    color: $mainTitleColor;
    padding-top: $interSectionMargin;

    padding-bottom: 30px;
}

//page section title
@mixin styleH4 {
    @include styleMainText;
    font-weight: bold;

    padding: 0px;
    margin: 10px 0px 25px 0px;
}

//page section title
@mixin styleH5 {
    @include styleMainText;
    color: $mainTitleColor;

    padding: 0px;
    margin: 15px 0px 10px 0px;
}

@mixin styleA {
    @include styleMainText;
    opacity: 1;
    text-decoration: none;
    @include colorChangeOnHover($mainColor, $mainTitleHighlight);
    
}

@mixin styleUl {
    padding-left: 0px;

    li {
        //margin-left: 10px;
        @include styleMainText;
        list-style-type: none;
    }
}

@mixin styleBlockquote {
    display: table;
    color: $mainColor;
    width: auto;
    max-width: 600px;
    border-left: 1px solid $mainColor;
    padding-left: 10px;


    p {
        @include styleEmphasisText;
        padding-left: 10px;
        font-style: italic;
        width: 100%;
        text-align: left;
    }

    cite,
    cite a {
        @include styleEmphasisText;
        padding-left: 10px;
        font-style: normal;
        text-align: left;
        text-decoration: none;
    }
}

@mixin styleHr {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: $smallTextMargin;
    border-bottom: 1px solid $mainColor;
}