/*****************************************************************************
text-styles.scss

Définition de styles de textes modulaires qui sont ensuites appliqués
à des mixins correspondants à h1, h2, p etc

But: réutilisation du code dans style.scss et style-editor.scss afin de styler
à la fois l'éditeur gutenberg et le thème

Ps: inspiré des styles de charactères et de paragraphes dans IndDesign où un style 
    peut-être emboité dans l'autre.
/******************************************************************************/



/******************************************************************************/
/******************************* styles modulaires
/******************************************************************************/
@mixin styleTitle {
    font-family: $mainTitleFont;
    font-size: $mainTitleSize;
    color: $mainTitleColor;
}

@mixin styleSubTitle {
    font-family: $mainSubTitleFont;
    font-size: $mainSubTitleSize;
    color: $mainSubTitleColor;
    font-weight: normal;
}

@mixin styleMainText {
    font-size: $mainTextSize;
    color: $mainColor;
    font-weight: normal;
}

@mixin styleSmallText {
    font-size: $smallTextSize;
    color: $mainColor;
    font-weight: normal;
    text-align: left;
}

@mixin styleEmphasisText {
    font-size: $emphasisTextSize;
    color: $mainTitleColor;
    font-weight: normal;
}

/******************************************************************************/
/************ Style spécifiques pour réutilisation dans gutenberg
/******************************************************************************/

/******************************************************************************/
/************ Styles de titres
/******************************************************************************/

//Main page title
@mixin styleH1 {
    @include styleSubTitle;
}

@mixin styleH2 {
    @include styleSubTitle;
}

//Info displayed under page title 
@mixin sousTitrePrincipal {
    @include styleSmallText;
}

//Sous-titre principal en gris
//H3 avec ample marge du haut afin de séparer sections de page
@mixin styleH3 {
    @include styleSubTitle;
    color: $mainTitleColor;
    
    margin-top: $interSectionMargin;
    margin-bottom: $mainTextMargin;
}

/******************************************************************************/
/************ Style de textes
/*****************************************************************************/

//page section title
@mixin styleH4 {
    @include styleMainText;
    font-weight: bold;
    margin: $smallTextMargin 0px;
}

//page section title
@mixin styleH5 {
    @include styleMainText;
    color: $mainTitleColor;
    margin: $smallTextMargin 0px;
}

@mixin styleA {
    @include styleMainText;
    text-decoration: none;
    @include colorChangeOnHover($mainColor, $mainTitleHighlight);
    
}

@mixin styleUl {
    padding-left: 0px;

    li {
        //margin-left: 10px;
        @include styleMainText;
        list-style-type: none;
    }
}

@mixin styleBlockquote {
    display: table;
    color: $mainColor;
    width: auto;
    max-width: calc( #{$mainContainerWidth} / 2);
    border-left: 1px solid $mainColor;
    padding-left: $smallTextMargin;


    p {
        @include styleEmphasisText;
        padding-left: $smallTextMargin;
        font-style: italic;
        width: 100%;
        text-align: left;
    }

    cite,
    cite a {
        @include styleEmphasisText;
        padding-left: $smallTextMargin;
        font-style: normal;
        text-align: left;
        text-decoration: none;
    }
}

@mixin styleHr {
    width: 100%;
    max-width: 100%;

    margin-top: 0px;
    margin-bottom: $smallTextMargin;
    border-bottom: 1px solid $mainColor;
}