/*****************************************************************************
text-styles.scss

Définition de styles de textes génériques qui sont ensuites appliqués
à des mixins correspondants à h1, h2, p etc

But: réutilisation du code dans style.scss et style-editor.scss afin de styler
à la fois l'éditeur gutenberg et le thème
/******************************************************************************/



/******************************************************************************/
/******************************* styles génériques
/******************************************************************************/
@mixin makeFont($family, $size, $color) {
    font-family: $family;
    font-size: $size;
    color: $color;
}

@mixin styleTitle {
    @include makeFont($mainTitleFont, $mainTitleSize, $mainTitleColor);
}

@mixin styleSubTitle {
    @include makeFont("Roboto", $mainSubTitleSize, $mainSubTitleColor);
    margin-bottom: $smallTextMargin;
    font-weight: 400;
}

@mixin styleMainText {
    //@include makeFont($mainFont, $mainTextSize, $mainColor);
    font-size: $mainTextSize;
    color: $mainColor;
    font-weight: 400;
}

@mixin styleSmallText {
    font-size: $smallTextSize;
    color: $mainColor;
    font-weight: 400;
    text-align: left;
}

@mixin styleEmphasisText {
    //@include makeFont($mainFont, $mainTextSize, $mainColor);
    font-size: $emphasisTextSize;
    color: $mainTitleColor;
    font-weight: 400;
}

/******************************************************************************/
/************ Style spécifiques pour réutilisation dans gutenberg
/******************************************************************************/

//Main page title
@mixin styleH1 {
    @include styleSubTitle;
    margin-top: -10px;
}

@mixin styleH2 {
    @include styleSubTitle;
}

//Info displayed under page title 
@mixin sousTitrePrincipal {
    @include styleSmallText;
}

//Main subtitle in gray
//Ample top margin so H3 can be used to separate sections in text
@mixin styleH3 {
    @include styleSubTitle;
    color: $mainTitleColor;
    padding-top: $interSectionMargin;

    padding-bottom: 30px;
}

//page section title
@mixin styleH4 {
    @include styleMainText;
    font-weight: bold;

    padding: 0px;
    margin: 10px 0px 25px 0px;
}

//page section title
@mixin styleH5 {
    @include styleMainText;
    color: $mainTitleColor;

    padding: 0px;
    margin: 15px 0px 10px 0px;
}

@mixin styleA {
    @include styleMainText;
    opacity: 1;
    transition: color 0.3s ease;

    &:hover {
        color: $mainTitleHighlight;
        text-decoration: none;
        transition: color 0.3s ease;
    }
}

@mixin styleUl {
    padding-left: 0px;

    li {
        //margin-left: 10px;
        @include styleMainText;
        list-style-type: none;
    }
}

@mixin styleBlockquote {
    display: table;
    color: $mainColor;
    width: auto;
    max-width: 600px;
    border-left: 1px solid $mainColor;
    padding-left: 10px;


    p {
        @include styleEmphasisText;
        padding-left: 10px;
        font-style: italic;
        width: 100%;
        text-align: left;
    }

    cite,
    cite a {
        @include styleEmphasisText;
        padding-left: 10px;
        font-style: normal;
        text-align: left;
        text-decoration: none;
    }
}

@mixin styleHr {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: $smallTextMargin;
    border-bottom: 1px solid $mainColor;
}




