/******************************************************************************/
/***Titles 
/******************************************************************************/

/* Approximate the theme width, except for full-width images. */
.wp-block {
    max-width: 900px;

    &[data-align="wide"] {
        max-width: 900px;
    }

    &[data-align="full"] {
        max-width: none;
    }
}

body {
    padding-top: 10px;
    overflow-y: scroll;
    background-color: $siteBackgroundColor !important;
}



.editor-writing-flow .wp-block h1 {
    @include styleH1;
}


.editor-post-title__block .editor-post-title__input,
.editor-writing-flow .wp-block h2,
.editor-writing-flow .wp-block h3,
.editor-writing-flow .wp-block h3 a {
    @include styleSubTitle;
}

.editor-post-title__block {
    margin-bottom: 0px;
    padding-bottom: 0px;

    .editor-post-title__input {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}



//Info displayed under page title 
.sous-titre-principal {
    @include sousTitrePrincipal;
}

//Ample top margin so H3 can be used to separate sections in text
.editor-writing-flow .wp-block h3 {
    @include styleH3;
}


.editor-writing-flow .wp-block h4 {
    @include styleH4;
}


/******************************************************************************/
/******************************* Main text elements************************/
/******************************************************************************/
.editor-writing-flow .wp-block textarea,
.editor-writing-flow .wp-block .wp-block-freeform,
.editor-rich-text p,
.editor-post-title__input,
.wp-block-quote__citation {

    @include styleMainText;
}

.editor-writing-flow .wp-block ul {
    @include styleUl;
}

.editor-writing-flow .wp-block a {
    @include styleA;
}


//Blocs de citations
.wp-block blockquote {
    @include styleBlockquote;
}

//Captions under images
.wp-block figcaption {
    @include styleSmallText;
}

//To use inside gutenberg for caption-like text
.p-caption {
    @include styleSmallText;
}


/******************************************************************************/
/******************************* Autres éléments typographie     **************/
/******************************************************************************/

.editor-writing-flow .wp-block hr {
    @include styleHr;
}