/******************************************************************************/
/***Titles 
/******************************************************************************/

/* Approximate the theme width, except for full-width images. */
.wp-block {
    max-width: 900px;

    &[data-align="wide"] {
        max-width: 900px;
    }

    &[data-align="full"] {
        max-width: none;
    }
}

body {
    padding-top: 10px;
    overflow-y: scroll;
    color: $mainColor !important;
    background-color: $siteBackgroundColor !important;
}




.editor-post-title__block .editor-post-title__input,
.editor-writing-flow .wp-block h2,
.editor-writing-flow .wp-block h3,
.editor-writing-flow .wp-block h3 a {
    @include styleSubTitle;
}

.editor-post-title__block {
    margin-bottom: 0px;
    padding-bottom: 0px;

    .editor-post-title__input {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}



.editor-writing-flow .wp-block textarea,
.editor-writing-flow .wp-block .wp-block-freeform,
p.rich-text,
.wp-block-quote__citation,
.editor-block-list__layout .editor-block-list__block,
.editor-block-list__layout .editor-block-list__block p {

    @include styleMainText;
}

//Info displayed under page title 
.legende-sous-titre {
    @include sousTitrePrincipal;
}


.editor-writing-flow .wp-block h1 {
    @include styleH1;
}

//Ample top margin so H3 can be used to separate sections in text
h1 {
    @include styleH1;

}

h2 {
    @include styleH2;

}

h3 {
    @include styleH3;

}


h4 {
    @include styleH4;

}

h5 {
    @include styleH5;

}

/******************************************************************************/
/******************************* Main text elements************************/
/******************************************************************************/


.editor-writing-flow .wp-block ul {
    @include styleUl;
}

.editor-writing-flow .wp-block a {
    @include styleA;
}


//Blocs de citations
.wp-block blockquote {
    @include styleBlockquote;
}

//Captions under images
.wp-block figcaption {
    @include styleSmallText;
}

//To use inside gutenberg for caption-like text
.p-caption {
    @include styleSmallText;
}


/******************************************************************************/
/******************************* Autres éléments typographie     **************/
/******************************************************************************/

hr.wp-block-separator {
    @include styleHr;
    
}