/******************************************************************************/
/***Titles 
/******************************************************************************/

h1 {
    @include mainTitleFont;
    margin-top: $mainTextMargin;
}

h2,
h3,
h3 a {
    @include mainSubTitleFont;
    font-weight: normal;
}


//Info displayed under page title 
.sous-titre-principal {
    @include smallTextFont;
    color: $mainTitleColor;
    font-weight: bold;
    text-align: left;
}

//Ample top margin so H3 can be used to separate sections in text
h3,
h3 {
    color: $mainTitleColor !important;
    margin-top: $interSectionMargin;
    margin-bottom: $mainTextMargin;
}


h4 {
    @include mainTextFont;
    font-weight: bold;

    padding: 0px 0px 0px 0px;
    margin: 25px 0px 10px 0px;
    display: block;
}


/******************************************************************************/
/******************************* Main text elements************************/
/******************************************************************************/
p,
ol,
ul {
    @include mainTextFont;
    text-align: left;
    font-weight: 400;
}

ul {
    padding-left: 0px;

    li {
        list-style-type: none;
    }
}

a {
    @include mainTextFont;
    text-decoration: underline;

    &:hover {
        color: $siteHighlightBGColor !important;
        text-decoration: none;
        @include fastEaseIn;
    }
}


//Blocs de citations
blockquote {
    color: $mainColor !important;
    max-width: 600px !important;

    p {
        @include mainTextFont;
        font-style: italic;
        text-align: left;
        font-weight: 400;
        width: 100%;
    }
}

//Captions under images
figcaption {
    @include smallTextFont;
}

//To use inside gutenberg for caption-like text
.p-caption {
    @include smallTextFont;
}


/******************************************************************************/
/******************************* Autres éléments typographie     **************/
/******************************************************************************/

hr {
    margin-top: 0px;
    margin-bottom: $smallTextMargin;
    border-bottom: 1px solid rgb(63, 63, 63);
}