/******************************************************************************/
/******************************* Navigation***********************/
/******************************************************************************/

body {
    padding-top: 30px;

    overflow-y: scroll;
    background-color: $siteBackgroundColor !important;

    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

.card-img {
    max-width: $indexGaleryBlockSize;
    max-height: $indexGaleryBlockSize;
    height: auto;
    margin-right: 5px;
    padding-bottom: 5px;
    border-radius: 0px;
    opacity: 1;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.3;
        transition: opacity 0.3s ease;
    }

}




/******************************************************************************/
/***Titles 
/******************************************************************************/

h1 {
    @include styleH1;
}


h2 {
    @include styleH2;
}

h3 a {
    @include styleSubTitle;
}

//Info displayed under page title 
.legende-sous-titre {
    @include sousTitrePrincipal;
}

h3 {
    @include styleH3;
}


h4 {
    @include styleH4;
}

h5,
h6 {
    @include styleH5;
}

/******************************************************************************/
/******************************* Main text elements************************/
/******************************************************************************/
p,
ol {
    @include styleMainText;
}

ul {
    @include styleUl;
}

li {
    //margin-left: 10px !important;
}

a {
    @include styleA;
}


//Blocs de citations
blockquote {
    @include styleBlockquote;
}

//Captions under images
figcaption,
.cite {
    @include styleSmallText;
    text-align: right !important;

}

.cite-center {
    @include styleSmallText;
    text-align: center !important;
}

.blocks-gallery-caption,
.cite {
    text-align: right !important;
    width: 100% !important;
}


/******************************************************************************/
/******************************* Autres éléments typographie     **************/
/******************************************************************************/

hr {
    @include styleHr;
}

.blog-post {
    margin-top: $mainTextMargin;
    margin-bottom: $interSectionMargin;
}

.meow-contact-form__group-label,
.meow-contact-form-message {
    @include styleH5;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.meow-contact-form__group-input,
.meow-contact-form__group-textarea{
    background-color: $siteBackgroundColor;
    color: $mainColor;
    border: 1px solid $mainColor !important;
}