/******************************************************************************/
/***Titles 
/******************************************************************************/

/* Approximate the theme width, except for full-width images. */
.wp-block {
    max-width: 900px;

    &[data-align="wide"] {
        max-width: 900px;
    }

    &[data-align="full"] {
        max-width: none;
    }
}

body {
    padding-top: 10px;
    overflow-y: scroll;
    background-color: $siteBackgroundColor !important;

}



.editor-writing-flow .wp-block h1 {
    @include mainTitleFont;
    margin-top: $mainTextMargin;
}


.editor-post-title__block .editor-post-title__input,
.editor-writing-flow .wp-block h2,
.editor-writing-flow .wp-block h3,
.editor-writing-flow .wp-block h3 a {
    @include mainSubTitleFont;
}

.editor-post-title__block {
    margin-bottom: 0px;
    padding-bottom: 0px;

    .editor-post-title__input {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}



//Info displayed under page title 
.sous-titre-principal {
    @include smallTextFont;
    color: $mainTitleColor;
    font-weight: bold;
    text-align: left;
}

//Ample top margin so H3 can be used to separate sections in text
.editor-writing-flow .wp-block h3 {
    color: $mainTitleColor !important;
    margin-top: $interSectionMargin;
    margin-bottom: $mainTextMargin;
}


.editor-writing-flow .wp-block h4 {
    @include mainTextFont;
    font-weight: bold;

    padding: 0px 0px 0px 0px;
    margin: 25px 0px 10px 0px;
    // display: block;
}


/******************************************************************************/
/******************************* Main text elements************************/
/******************************************************************************/
.editor-writing-flow .wp-block textarea,
.editor-writing-flow .wp-block .wp-block-freeform,
.editor-rich-text p,
.editor-post-title__input,
.wp-block-quote__citation {

    @include mainTextFont;
    text-align: left;
    font-weight: 400;
}

.editor-writing-flow .wp-block ul {
    padding-left: 0px;

    li {
        list-style-type: none;
    }
}

.editor-writing-flow .wp-block a {
    @include mainTextFont;
    text-decoration: underline;

    &:hover {
        color: $siteHighlightBGColor !important;
        text-decoration: none;
        @include fastEaseIn;
    }
}


//Blocs de citations
.wp-block blockquote {
    color: $mainColor !important;
    max-width: 600px !important;

    p {
        @include mainTextFont;
        font-style: italic;
        text-align: left;
        font-weight: 400;
        width: 100%;
    }
}

//Captions under images
.wp-block figcaption {
    @include smallTextFont;
}

//To use inside gutenberg for caption-like text
.p-caption {
    @include smallTextFont;
}


/******************************************************************************/
/******************************* Autres éléments typographie     **************/
/******************************************************************************/

.editor-writing-flow .wp-block hr {
    margin-top: 0px;
    margin-bottom: $smallTextMargin;
    border-bottom: 1px solid rgb(63, 63, 63);
}