/******************************************************************************/
/******************************* Variables Sass    ******************************/
/******************************************************************************/

//$mainTitleFont : "'PT Sans', sans-serif";
//$mainTitleFont : "Roboto Condensed";


$mainTitleFont : "Quicksand";
//$mainFont : "'Helvetica Neue',Arial,Helvetica,sans-serif";
$mainFont : "";

$mainTitleSize : 25px;
$mainSubTitleSize : 19px;
$mainTextSize: 15px;
$smallTextSize: 13px;
$menuTextSize: 15px;
$emphasisTextSize: 16px;

$interSectionMargin: 100px;
$mainTextMargin: 15px;
$smallTextMargin: 10px;

$mainTitleColor : #C6C6C6;
$mainTitleHighlight : rgb(235, 235, 235);
$mainColor :rgb(160, 160, 160);
$mainSubTitleColor : rgb(236, 87, 37);

$mainLegendColor : rgb(182, 182, 182);
$colorBlack : rgba(0, 0, 0, 0.9);
$siteBackgroundColor : #303030;
$siteHighlightBGColor : #505050;
$siteDarkAccentColor : rgb(43, 43, 43);

/******************************************************************************/
/******************************* Gallery blocks  ******************************/
/******************************************************************************/

$wpBlockGalleryWidth : 425px;
$wpBlockGalleryHeight : 300px;
$wpBlockGallerySizeMobile : 95%;
$indexGaleryBlockSize : 164px;


/******************************************************************************/
/******************************* media breakpoints*****************************/
/******************************************************************************/

//naming convention and sizes from bootstrap
$xs : 200px;
$sm: 576px;
$md: 768px;
$lg: 992px; 
$xl: 1200px;

//container size for lg screens and up:
$mainContainerWidth : 900px;
