/******************************************************************************/
/******************************* Variables Sass    ******************************/
/******************************************************************************/

//$mainTitleFont : "'PT Sans', sans-serif";
//$mainTitleFont : "Roboto Condensed";


$mainTitleFont : "Quicksand";
//$mainFont : "'Helvetica Neue',Arial,Helvetica,sans-serif";
$mainFont : "";

$mainTitleSize : 25px;
$mainSubTitleSize : 19px;
$mainTextSize: 15px;
$smallTextSize: 13px;
$menuTextSize: 15px;
$emphasisTextSize: 16px;

$interSectionMargin: 100px;
$mainTextMargin: 15px;
$smallTextMargin: 10px;

$mainTitleColor : #C6C6C6;
$mainTitleHighlight : rgb(235, 235, 235);
$mainColor :rgb(160, 160, 160);
$mainSubTitleColor : rgb(236, 87, 37);

$mainLegendColor : rgb(182, 182, 182);
$colorBlack : rgba(0, 0, 0, 0.9);
$siteBackgroundColor : #303030;
$siteHighlightBGColor : #505050;
$siteDarkAccentColor : rgb(43, 43, 43);

/******************************************************************************/
/******************************* Body elements   ******************************/
/******************************************************************************/

/*Body Elements*/
$mainContainerWidth : 900px;

$wpBlockGalleryWidth : 425px;
$wpBlockGalleryHeight : 300px;
$wpBlockGallerySizeMobile : 95%;
$indexGaleryBlockSize : 164px;


/******************************************************************************/
/******************************* TextStyles mixin******************************/
/******************************************************************************/
@mixin makeFont($family, $size, $color) {
    font-family: $family !important;
    font-size: $size !important;
    color: $color !important;
}

@mixin styleTitle {
    @include makeFont($mainTitleFont, $mainTitleSize, $mainTitleColor);
}

@mixin styleSubTitle {
    @include makeFont("Roboto", $mainSubTitleSize, $mainSubTitleColor);
    margin-bottom: $smallTextMargin;
    font-weight: 400;
}

@mixin styleMainText {
    //@include makeFont($mainFont, $mainTextSize, $mainColor);
    font-size: $mainTextSize !important;
    color: $mainColor !important;
    font-weight: 400;
}

@mixin styleSmallText {
    font-size: $smallTextSize !important;
    color: $mainColor !important;
    font-weight: 400;
    text-align: left !important;
}

@mixin styleEmphasisText {
    //@include makeFont($mainFont, $mainTextSize, $mainColor);
    font-size: $emphasisTextSize !important;
    color: $mainTitleColor !important;
    font-weight: 400;
}

/******************************************************************************/
/******************************* TextStyles mixin******************************/
/******************************************************************************/
//Styles are defined in mixins so the same style can be applied    
//inside theme and gutenberg editor respectively : _typography.scss and _typography-gutenberg.scss


//Main page title
@mixin styleH1 {
    @include styleSubTitle;
    margin-top: -10px;
}

@mixin styleH2 {
    @include styleSubTitle;
}

//Info displayed under page title 
@mixin sousTitrePrincipal {
    @include styleSmallText;
}

//Main subtitle in gray
//Ample top margin so H3 can be used to separate sections in text
@mixin styleH3 {
    @include styleSubTitle;
    color: $mainTitleColor !important;
    padding-top: $interSectionMargin;

    padding-bottom: 30px;
}

//page section title
@mixin styleH4 {
    @include styleMainText;
    font-weight: bold;

    padding: 0px;
    margin: 10px 0px 25px 0px;
}

//page section title
@mixin styleH5 {
    @include styleMainText;
    color: $mainTitleColor !important;

    padding: 0px;
    margin: 15px 0px 10px 0px;
}

@mixin styleA {
    @include styleMainText;
    opacity: 1;
    transition: color 0.3s ease;

    &:hover {
        color: $mainTitleHighlight !important;
        text-decoration: none;
        transition: color 0.3s ease;
    }
}

@mixin styleUl {
    padding-left: 0px;

    li {
        //margin-left: 10px !important;
        @include styleMainText;
        list-style-type: none;
    }
}

@mixin styleBlockquote {
    display: table;
    color: $mainColor !important;
    width: auto;
    max-width: 600px !important;
    border-left: 1px solid $mainColor !important;
    padding-left: 10px !important;



    p {
        @include styleEmphasisText;
        padding-left: 10px;
        font-style: italic;
        width: 100%;
        text-align: left;
    }

    cite,
    cite a {
        @include styleEmphasisText;
        padding-left: 10px;
        font-style: normal;
        text-align: left;
        text-decoration: none !important;
    }
}

@mixin styleHr {
    width: 100%;
    max-width: 100% !important;
    margin-top: 0px;
    margin-bottom: $smallTextMargin;
    border-bottom: 1px solid $mainColor !important;
}





/******************************************************************************/
/******************************* Animations   ******************************/
/******************************************************************************/
/*Animations*/
$shortSpeed : '0.9s';

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@mixin fastEaseIn {
    transition: ease 0.3s;
}

@mixin fasterEaseIn {
    transition: ease 0.2s;
}