/*****************************************************************************
Variables.scss

Variables permettant de centraliser l'aspect général du thème
/******************************************************************************/


/******************************************************************************/
/******************************* Variables Sass    ******************************/
/******************************************************************************/

//$mainTitleFont : "'PT Sans', sans-serif";
//$mainTitleFont : "Roboto Condensed";
$mainTitleFont : "Quicksand";
$mainSubTitleFont: "Roboto";
//$mainFont : "'Helvetica Neue',Arial,Helvetica,sans-serif";
$mainFont : "";   //Font principal de bootstrap conservé

$mainTitleSize : 25px;
$mainSubTitleSize : 19px;
$menuTextSize: 15px;

$mainTextSize: 15px;
$emphasisTextSize: 16px;
$smallTextSize: 13px;

$mainTitleColor : rgb(209, 209, 209);
$mainTitleHighlight : rgb(238, 238, 238);
$mainSubTitleColor : rgb(236, 87, 37);
$mainColor :rgb(160, 160, 160);

$mainLegendColor : rgb(182, 182, 182);
$siteBackgroundColor : #303030;
$siteHighlightBGColor : #505050;
$siteHighlightBGColorDark : #4b4b4b;
$siteDarkAccentColor : rgb(43, 43, 43);
$colorBlack : rgba(0, 0, 0, 0.9);

$interSectionMargin: 75px;
$mainTextMargin: 15px;
$smallTextMargin: 10px;

/******************************************************************************/
/******************************* Gallery blocks  ******************************/
/******************************************************************************/

$wpBlockGalleryWidth : 425px;
$wpBlockGalleryHeight : 300px;
$wpBlockGallerySizeMobile : 100%;
$indexGaleryBlockSize : 164px;


/******************************************************************************/
/******************************* Media breakpoints*****************************/
/******************************************************************************/

//naming convention and sizes from bootstrap
$xs : 200px;
$sm: 576px;
$md: 768px;
$lg: 992px; 
$xl: 1200px;

//container size for lg screens and up:
$mainContainerWidth : 900px;
