/*****************************************************************************
wordpress.scss

Surcharge des styles spécifiques à Wordpress
/******************************************************************************/


/******************************************************************************/
/******************************* Misc Wordpress
/******************************************************************************/


/*Lien de téléchargement pour bloc fichier wordpress*/
.wp-block-file__button {
    display: none;
}

.wp-block-cover {
    margin-bottom: $mainTextMargin;
}

//Pour éviter un bogue où l'utilisation de colonnes transforme le curseur en curseur de liens
//Bogue de Wordpress
#css-overrides .wp-block-columns,
#css-overrides .wp-block-column,
#css-overrides .wp-block-media-text,
#css-overrides .wp-block-media-text__content,
#css-overrides .wp-block-cover {
    cursor: default;
}




/******************************************************************************/
/******************************* Wordpress Gallery Blocks/
/******************************************************************************/


//TODO #15 clean/comment
@mixin setSize($width, $height) {
    width: $width;
    height: $height;
}

@mixin makeGalleryBlock($width, $height, $widthMobile, $heightMobile) {
    @include setSize($width, $height);
    flex-grow: 0;
    box-sizing: content-box;
    margin-right: 10px;

    @media (max-width: $sm) {
        @include setSize($widthMobile, $heightMobile);
        margin: 0px, auto, 10px, auto;
        flex-direction: column;
        flex: none;
    }

    figure,
    img {
        @include setSize($width, $height);
        @include opacityFadeOnHover(0.8);

        @media (max-width: $sm) {
            @include setSize($widthMobile, $heightMobile);
            margin-bottom: 10px;
            flex-direction: column;
            flex: none;
        }
    }

}

#css-overrides .blocks-gallery-item {
    @include makeGalleryBlock($wpBlockGalleryWidth, $wpBlockGalleryHeight, $wpBlockGallerySizeMobile, 150px);
}

//small-boxes est appliqué à la galery wordpress 
#css-overrides .small-boxes {
    .blocks-gallery-item {
        @include makeGalleryBlock($indexGaleryBlockSize, $indexGaleryBlockSize, $wpBlockGallerySizeMobile, 150px);
    }
}




//TODO rewrite/verifier si pertinent
// Affichage des captions de galerie en mode mobile seulement:
#css-overrides .wp-block-gallery .blocks-gallery-item figcaption {
    @media only screen and (max-width: $sm) {
        position: relative;
        bottom: auto;
        max-height: 100%;
        overflow: auto;
        padding: 10px 0 20px 0;
        color: #333;
        text-align: center;
        font-size: 13px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0%, transparent) !important;
    }

}


/*Sur écrans d'ordinateurs on cache le caption entièrement 
On utilise plutôt l'encart description dans l'image et affiche dans le carousel jetpack*/
figcaption.blocks-gallery-item__caption {
    @media only screen and (min-width: 640px) {
        display: none;
    }
}


/******************************************************************************/
/******************************* Wordpress embed video Blocks/
/******************************************************************************/

//TODO #18 Corriger affichage de vidéo en ration 4/3
//Embed video-width to 100% width fix as per this thread (towards end of page:)
//https://github.com/WordPress/gutenberg/issues/8383
 figure.wp-block-embed.is-type-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

figure.wp-block-embed.is-type-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/******************************************************************************/
/******************************* WP-Jetpack Carousel/
/******************************************************************************/

.jp-carousel-info {
    p {
        @include styleMainText;
        text-align: center;
    }
}

/*

/* Hide Comment Form & Link */
#jp-carousel-comment-form-container,
/* Form */
div.jp-carousel-buttons a.jp-carousel-commentlink,
/* Link */
#jp-carousel-comments-loading {
    display: none !important;
}

/* Remove Padding from Link Area */
#css-overrides .jp-carousel-buttons {
    padding: 0;
}



#css-overrides .jp-carousel-overlay {
    background-color: $siteBackgroundColor;
}

#css-overrides .jp-carousel-fadeaway {
    display: none;
}

/* Hide comment form header. */
/* Center the metabox. */
.jp-carousel-titleanddesc-title,
.jp-carousel-comment-form-container,
div#jp-carousel-comments-loading span,
.jp-carousel-image-meta {
    display: none !important;
}

#css-overrides .jp-carousel-titleanddesc {
    border: none;
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;

    p{
        text-align: center;
    }
}

#css-overrides .jp-carousel-left-column-wrapper {
    width: 100%;
}


/* Move close icon to the right. */
#css-overrides .jp-carousel-transitions .jp-carousel-close-hint {
    position: fixed;
    text-align: right;
    right: 12px;
    width: auto;
}



/******************************************************************************/
/******************************* meow-contact-form
/******************************************************************************/

#css-overrides .meow-contact-form__group-label,
#css-overrides .meow-contact-form-message {
    @include styleH5;
    margin-top: 0px;
    margin-bottom: 10px;
}

#css-overrides .meow-contact-form__group-input,
#css-overrides .meow-contact-form__group-textarea {
    background-color: $siteBackgroundColor;
    color: $mainColor;
    border: 1px solid $mainColor;
}